{
    "root": true,
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "node": true,
      "jasmine": true,
      "es6": true
    },
    "parserOptions": {
      "sourceType": "module",
      "allowImportExportEverywhere": false
    },
    "extends": "standard",
    "rules": {
      "quotes": [2, "single"]
    }
  }
  